- if user.errors[:base].any?
  %p.text-danger= user.errors[:base].first

= simple_form_for user, url: users_sign_in_path, remote: true do |f|
  = f.input :email
  = f.input :password
  = link_to "Don't have an account yet?", '#', data: { toggle: 'modal', target: '#signupModal', dismiss: 'modal' }
  .text-right
    = f.button :button, 'Cancel', class: 'btn btn-secondary', "data-dismiss" => "modal"
    = f.button :submit, 'SignIn', class: 'btn btn-primary', 'disable_with' => 'Wait..'
