.card.profile
  .card-body
    .media
      = image_tag user.images[:small_url], class: 'mr-3 w-25'
      .media-body
        %h5.mt-0= user.name.titleize
        .text-secondary
    %hr.margin-bottom-10
