.row.mt-4
  .col-sm-3
    = render 'profile_card', user: @user
  .col-sm-9
    - if current_user.id == @user.id
      .row
        .col
          = button_to 'Add Widget', new_widget_path, method: :get, remote: true, class: 'btn btn-primary mb-2', data: { disable_with: 'Wait..' }
          = render 'widgets/widget_modal', widget: Widget.new
    .row
      .col
        .card
          .card-header
            %h3 Widgets
          .card-body
            #widgetsContainer
              = render 'widgets/widget_list', widgets: @widgets
