- if widget.errors[:base].any?
  %p.text-danger= "API Error!: #{widget.errors[:base].first}"

= simple_form_for widget, remote: true do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :kind, as: :radio_buttons, collection: ['visible', 'hidden']
  .text-right
    = f.button :button, 'Cancel', class: 'btn btn-secondary', "data-dismiss" => "modal"
    = f.button :submit, 'Save', class: 'btn btn-primary'
