.col-lg-4.col-md-6.mb-4{id: "widget_#{widget.id}"}
  .card.h-100
    .card-body
      %h4.card-title= widget.name
      %p.card-text= widget.description
    .card-footer.p-1
      .row
        .col
          By
          = link_to widget.user.name&.titleize, user_path(widget.user.id)
        - if widget.owned_by?(current_user)
          .col.text-right
            = link_to edit_widget_path(widget.id), remote: true, title: 'Edit', class: 'mr-1' do
              %i.fa.fa-edit
            = link_to widget_path(widget.id), method: :delete, remote: true, title: 'Remove', data: { confirm: 'Are you sure?' } do
              %i.fa.fa-trash.text-danger
