<% if @widget.errors.any?  %>
  $("#widgetModal .modal-body").html($("<%= j(render 'form', widget: @widget) %>"))
<% else %>
  $('#widgetModal').modal('hide')
  $("#widgetsContainer .row").append($("<%= j(render @widget) %>"))
<% end  %>
