%header.jumbotron.my-4
  = form_with url: '/', method: :get do
    .form-row.align-items-center
      .col-sm-11
        = text_field_tag :term , params[:term], class: 'form-control', placeholder: 'Search Widgets'
      .col-auto
        = submit_tag 'Search', class: 'btn btn-primary'


#widgetsContainer
  = render 'widget_list', widgets: @widgets
