// Place all the styles related to the Widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  height: 100%;
  body {
    height: 100%;
    padding-top: 56px;

    .container{
      min-height: 83.7%;
    }
  }
}

.field_with_errors {
  padding: 1px;
  background-color: red;
}
