/ Navigation
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    = link_to 'ShowoffWidgets', root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        - if user_authenticated?
          %li.nav-item.dropdown.active
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.name.titleize
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              = link_to 'Profile', user_path(current_user.id), class: 'dropdown-item'
              = link_to 'SignOut', users_sign_out_path, method: :delete, class: 'dropdown-item'
        - else
          %li.nav-item
            %a.btn.btn-primary{:href => "#", data: {toggle: "modal", target: "#signinModal"}} SignIn
