!!!
%html
  %head
    %title ShowoffWidgets
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    / Page Content
    .container
      - flash.each do |key, value|
        .mt-3{class: "#{flash_class(key)}" }= value
      = yield
    / /.container
    = render 'layouts/footer'
    = render 'shared/signin_modal'
    = render 'shared/signup_modal'
