- if user.errors[:base].any?
  %p.text-danger= "API Error!: #{user.errors[:base].first}"

= simple_form_for user, url: users_sign_up_path, remote: true do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = link_to "Already have an account?", '#', data: { toggle: 'modal', target: '#signinModal', dismiss: 'modal' }
  .text-right
    = f.button :button, 'Cancel', class: 'btn btn-secondary', "data-dismiss" => "modal"
    = f.button :submit, 'Submit', class: 'btn btn-primary', 'disable_with' => 'Wait..'
